/*
DASHBOARD
------------------------------------------------------------------*/

#admin-logo {
    font-size: 32px;
    color: #fff;
    margin: 15px;
}

.dashboard {
    padding: 0;
    height: 100%;
}

.dashboard-wrapper {
    width: 100% !important;
    margin: 0;
    padding: 0;
    height: 100%;
    display: table;
}

.logged-in-as {
    color: #fff;
}

/*
SIDEBAR
------------------------------------------------------------------*/

.sidebar {
    padding: 0;
    height: 100%;
    background-color: #505050;
    left: 0;
    top: 0;
    width: 260px;
    display: table-cell;
    float: none;
    vertical-align: top;
}

a#logo,
a#logo:hover {
    margin-bottom: 20px;
    padding: 0 15px;
    background-color: #505050;
    float: none;
}


/* NAVIGATION */

.sidebar .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    color: #C9C9C9;
    background-color: #505050;
    border-color: #454545;
}

.sidebar .list-group-item:hover {
    background-color: #C9C9C9;
    border-color: #EFEFEF;
    border-color: #C9C9C9;
}

.sidebar .list-group-item.active {
    background-color: #EFEFEF;
    color: #505050;
    border-color: #EFEFEF;
}

.sidebar .list-group-item .mdi {
    margin-right: 8px;
}

.sidebar .sub-menu {
    display: none;
}

.sidebar .deep-menu {
    position: relative;
    display: block;
}

.sidebar .deep-menu:hover .list-group-item:not(.active) + .sub-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 9999;
    width: 100%;
}

.sidebar .list-group-item.active + .sub-menu {
    display: block;
}

.sidebar .list-group-item.active + .sub-menu > .list-group-item {
    padding-left: 47px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #C9C9C9;
    border-color: #C9C9C9;
    color: #505050;
}

.sidebar .list-group-item.active + .sub-menu > .list-group-item:first-child {
    padding-top: 10px;
}

.sidebar .list-group-item.active + .sub-menu > .list-group-item:last-child {
    border-bottom: 0;
    padding-bottom: 10px;
}



/* USER ACCOUNT */

.user-account {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
    font-size: 12px;
}

.user-account .log-out {
    color: #fff;
}



/*
MAIN CONTENT
------------------------------------------------------------------*/

.main-container {
    padding: 30px 40px;
    height: 100%;
    width: auto;
    display: table-cell;
    float: none;
    vertical-align: top;
}