body {
    background-color: #F2F2F2 !important;
}

.main-container.has-advisor {
    width: 69%;
}

/***** MENU *****/
.menu-item {
    height: 70px;
    box-sizing: border-box;
    display: block;
}

.menu-item:hover {
    text-decoration: none;
}

.menu-item:not(:last-child) {
    border-bottom: 1px solid #434343;
}

.menu-item:not(.active):not(.inactive):hover {
    background-color: #777777;
}

.menu-item.active {
    background-color: #FFFFFF;
}

.menu-item:not(.active) {
    background-color: #283138;
}

.menu-item.inactive {
    background-color: #6b6b6b;
    cursor: default;
}

.menu-item:first-child {
    border-radius: 4px 0 0 0;
}

.menu-item:last-child {
    border-radius: 0 0 0 4px;
}

.menu-item .description {
    text-align: center;
    color: #FFFFFF;
    position: relative;
    top: 20px;
    font-size: 11px;
}

.menu-item.active .description {
    color: #57BDE1;
}

.menu-item .notification {
    position: relative;
    left: 13px;
    top: -10px;
    display: none;
    padding: 4px;
    border: none;
}

.menu-item .icon {
    margin: 0 auto 0 auto;
    width: 20px;
    height: 20px;
    position: relative;
    top: 20px;
}

.menu-item .icon.statistics { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/cp/menu/statistics.png) no-repeat; }
.menu-item.active .icon.statistics { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/cp/menu/statistics-hover.png) no-repeat; }

.menu-item .icon.customers { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/cp/menu/customers.png) no-repeat; }
.menu-item.active .icon.customers { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/cp/menu/customers-hover.png) no-repeat; }

.menu-item .icon.messages { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/cp/menu/messages.png) no-repeat; }
.menu-item.active .icon.messages { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/cp/menu/messages-hover.png) no-repeat; }

.menu-item .icon.reviews { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/cp/menu/reviews.png) no-repeat; }
.menu-item.active .icon.reviews { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/cp/menu/reviews-hover.png) no-repeat; }

.menu-item .icon.advantages { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/cp/menu/advantages.png) no-repeat; }
.menu-item.active .icon.advantages { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/cp/menu/advantages-hover.png) no-repeat; }

.menu-item .icon.integrations { width: 13px; }
.menu-item .icon.integrations { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/cp/menu/integrations.png) no-repeat; }
.menu-item.active .icon.integrations { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/cp/menu/integrations-hover.png) no-repeat; }

/* Page menu */

ul.page-menu {
    height: 50px;
    margin: -15px -15px 0 -15px;
    padding: 0 15px 0 15px;
    list-style: none;
    background-color: #FAFAFA;
    border-bottom: 2px solid #F5F5F5;
}

ul.page-menu li {
    position: relative;
    float: left;
    padding: 5px 20px 5px 20px;
    border-radius: 4px;
}

ul.page-menu li:not(.active) a {
    color: #A7A7A7;
}

ul.page-menu li.active {
    background-color: #283137;
}

ul.page-menu li.active a {
    color: #fff;
}

ul.page-menu li.active a:hover {
    text-decoration: none;
}

ul.page-menu li.active:hover {
    background-color: #444B4F;
}



.main-container {
    min-height: 500px;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 0 4px 4px 4px;
}

.main-container h1 {
    font-size: 24px;
    color: #2c3e4f;
    width: 100%;
}

.main-container h1 + .description {
    margin-top: 5px;
}

.main-container h1 + hr,
.main-container h1 + .description + hr {
    margin: 10px 0 10px 0;
}

.sub-title {
    display: block;
    font-size: 16px;
    color: #505050;
}

#cp-topbar-profile-link {
    font-size: 11px;
    position: relative;
    top: -6px;
}


/***** CREATE ACCOUNT DIALOG *****/
#create-account-dialog .modal-dialog {
    width: 850px;
}

#create-account-dialog .form-control,
#create-account-dialog #new-account-button {
    width: 400px;
}

#create-account-dialog .form-control {
    margin: 0 auto 10px auto;
}

#create-account-dialog #new-account-button {
    height: 40px;
    border: none;
    margin-top: 10px;
}

#create-account-dialog p {
    margin-bottom: 20px;
    font-size: 16px;
}

#create-account-dialog .modal-body {
    text-align: center;
    padding: 10px 25px 50px 25px;
    border-radius: 0 0 4px 4px;
}

#create-account-dialog h1 {
    font-size: 32px;
    margin: 10px 0 5px 0;
}


/***** ADVISOR *****/
#advisors-wrapper {
    padding-right: 0;
}

.main-container ~ #advisors-wrapper {
    width: 22%;
}

#advisors {
    background-color: #fff;
    padding: 15px 20px 15px 20px;
    text-align: center;
}

#advisors .title {
    font-size: 18px;
    margin-bottom: 15px;
}

#advisors img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 2px solid #53a3d9;
    margin-bottom: 10px;
}

#advisors .name {
    font-size: 15px;
}

#advisors .description {
    font-size: 12px;
    margin-bottom: 15px;

    /* Needed for IE */
    width: 100%;
    text-align: center;
}

#advisors .send-message {
    height: 36px;
    width: 100%;
    margin-bottom: 10px;
    color: #fff;
    border-radius: 20px;

    background: -moz-linear-gradient(#3a99d9, #2e81b7);
    background: -webkit-linear-gradient(#3a99d9, #2e81b7);
    background: linear-gradient(#3a99d9, #2e81b7);
}

#advisors .send-message:hover {
    background: -moz-linear-gradient(#479CD6, #3686BA);
    background: -webkit-linear-gradient(#479CD6, #3686BA);
    background: linear-gradient(#479CD6, #3686BA);
}

#advisors .divider {
    font-size: 12px;
    margin-bottom: 5px;
}

#advisors .phone-title,
#advisors .phone-number {
    font-size: 15px;
}

#advisors .phone-opening-hours {
    font-size: 12px;
}