/* Disable responsiveness */
.container {
    width: 1170px !important;
}

.container-fluid {
    min-width: 1170px !important;
}

.container,
.container-fluid {
    max-width: none !important;
}

/* Bootstrap additions */
a,
a:focus,
button,
button:focus,
input,
input:focus {
    outline: none !important;
    text-decoration: none;
}


a {
    text-decoration: none;
}

label {
    font-weight: normal;
}

.btn {
    border: 0;
    height: 36px;
    padding: 8px 15px;
}


/***** Fonts *****/

/* Proxima Nova */
@font-face {
    font-family: 'ProximaNova-Light';
    src: url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/light/proximanova-light.eot');
    src: url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/light/proximanova-light.eot') format('embedded-opentype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/light/proximanova-light.woff') format('woff'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/light/proximanova-light.ttf') format('truetype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/light/proximanova-light.svg#ProximaNovaLight') format('svg');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/regular/proximanova-regular.eot');
    src: url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/regular/proximanova-regular.eot') format('embedded-opentype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/regular/proximanova-regular.woff') format('woff'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/regular/proximanova-regular.ttf') format('truetype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/regular/proximanova-regular.svg#ProximaNovaRegular') format('svg');
}

@font-face {
    font-family: 'ProximaNova-SemiBold';
    src: url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/semi-bold/proximanova-semibold.css');
    src: url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/semi-bold/proximanova-semibold.eot') format('embedded-opentype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/semi-bold/proximanova-semibold.woff') format('woff'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/semi-bold/proximanova-semibold.ttf') format('truetype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/semi-bold/proximanova-semibold.svg#ProximaNovaSemibold') format('svg');
}

@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/bold/ProximaNova-Bold.otf') format('opentype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/bold/ProximaNova-Bold.woff') format('woff'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/bold/ProximaNova-Bold.ttf') format('truetype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/ProximaNova/bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Roboto */
@font-face {
    font-family: 'Roboto-Light';
    src: url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/light/Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/light/Roboto-Light.woff') format('woff'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/light/Roboto-Light.ttf') format('truetype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/light/Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/regular/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/regular/Roboto-Regular.woff') format('woff'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/regular/Roboto-Regular.ttf') format('truetype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/regular/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/bold/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/bold/Roboto-Bold.woff') format('woff'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/bold/Roboto-Bold.ttf') format('truetype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/bold/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/medium/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/medium/Roboto-Medium.woff') format('woff'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/medium/Roboto-Medium.ttf') format('truetype'),
        url('https://s3.eu-central-1.amazonaws.com/betterdk-public/static/fonts/Roboto/medium/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Reset */
html, body {
    height: 100%;
}

body, h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

img {
    border: none;
}


/* Top bar */
header#topbar {
    background-color: #fff;
    height: 60px;
    border-bottom: 2px solid #F7F7F7;
}

#topbar .notification {
    float: right;
    position: relative;
    top: -10px;
    left: 10px;
}

#topbar #topbar-account-icon .notification {
    left: -12px;
    top: 0;
}

#topbar #topbar-menu-wrapper {
    padding-right: 0;
}

#topbar-controls {
    list-style: none;
    float: right;
}

#topbar-controls li {
    float: left;
    position: relative; /* Necessary for using .container-link */
}

#topbar-controls li:not(:first-child) {
    margin-left: 20px;
}

#topbar-search-terms,
#topbar-search-location {
    padding-top: 8px;
}

#topbar-search-terms,
#topbar-search-location,
#topbar-search-button {
    height: 37px;
}

#topbar-search-terms { width: 225px; float: left; }
#topbar-search-location { width: 210px; float: left; margin: 0 8px 0 10px; }

#topbar-search-button {
    border-radius: 4px;
}

#topbar-search-button .icon {
    display: block;
}

#topbar-search-button:after,
#topbar-search-button:before {
    left: 0;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#topbar-account-icon {
    display: block;
}

#topbar-account-icon img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* Footer */
#footer {
    background-color: #2c3e4f;
    padding-top: 30px;
    height: 270px;
}

#footer .footer-row {
    margin-top: 15px;
}

#footer .footer-title {
    display: block;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}

#footer ul {
    list-style: none;
}

#footer ul li a, #footer p {
    color: #d5d5d5;
}

#footer ul li a:hover {
    color: #fff;
}

#footer-help-section p, #footer-help-section a {
    color: #fff;
}

#footer-help-section p {
    text-align: center;
}

#footer-help-section #need-help-wrapper {
    height: 40px;
    line-height: 40px;
    border: 2px solid #fff;
    text-align: center;
    position: relative;
}

#footer-help-section #need-help-wrapper .icon {
    position: absolute;
    bottom: 9px;
    left: 70px;
}

#footer-help-section #need-help-wrapper a {
    position: relative;
    left: 10px;
}


/***** General styling *****/
body {
    font-family: 'ProximaNova-Regular';
    background-color: #F2F2F2;
}

body, a, a:hover, h1, h2, h3, h4, h5, h6 {
    color: #2c3e4f;
}

p, span {
    color: #666666;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

hr {
    color: #dbdbdc;
}

.main-container {
    min-height: 500px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border-radius: 4px;
}

.light { font-family: 'ProximaNova-Light'; }
.bold { font-family: 'ProximaNova-Bold'; }
.semi-bold { font-family: 'ProximaNova-SemiBold'; }
.regular { font-family: 'ProximaNova-Regular'; }

.ellipsis-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.flex {
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.flex.flex-column {
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.flex.flex-row {
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.flex.justify-center {
    -ms-justify-content: center;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.flex.justify-left {
    -ms-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.flex.justify-right {
    -ms-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.flex.align-center {
    -moz-box-align: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.flex.align-left {
    -moz-box-align: start;
    -ms-align-items: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.flex.align-right {
    -moz-box-align: end;
    -ms-align-items: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.clear { clear: both; }

.info-box {
    background-color: #CDE8F4;
    color: #296A9A;
    border-radius: 4px;
}

/* Buttons */
button .icon,
.btn .icon {
    display: block;
}

.btn .icon {
    margin-right: 10px;
}

.btn.squared {
    border-radius: 0;
}

.btn-primary {
    background: -moz-linear-gradient(#30b001, #259501);
    background: -webkit-linear-gradient(#30b001, #259501);
    background: linear-gradient(#30b001, #259501);
}

.btn-primary:hover {
    background: -moz-linear-gradient(#32ba00, #29a500);
    background: -webkit-linear-gradient(#32ba00, #29a500);
    background: linear-gradient(#32ba00, #29a500);
}

.btn-dark {
    color: #fff;
    background: -moz-linear-gradient(#33495d, #192735);
    background: -webkit-linear-gradient(#33495d, #192735);
    background: linear-gradient(#33495d, #192735);
}

.btn-dark:hover {
    background: -moz-linear-gradient(#3e5870, #223649);
    background: -webkit-linear-gradient(#3e5870, #223649);
    background: linear-gradient(#3e5870, #223649);
}

.btn-gray {
    background: #DFDFDF;
    color: #666666;
}

.btn-gray:hover {
    background: #d8d8d8;
    color: #666666;
}

.btn-gray:visited,
.btn-gray:active,
.btn-gray:link,
.btn-gray:focus {
    color: #666666;
}


.btn-dark *,
.btn-dark:hover,
.btn-dark:visited,
.btn-dark:active,
.btn-dark:link,
.btn-dark:focus {
    color: #fff;
}

.btn-cta,
.btn-cta:hover {
    border: 1px solid #ff5a5f;
}

.btn-cta {
    color: #fff;
    background: -moz-linear-gradient(#ff5a5f, #FF4D52);
    background: -webkit-linear-gradient(#ff5a5f, #FF4D52);
    background: linear-gradient(#ff5a5f, #FF4D52);
}

.btn-cta:hover {
    background: -moz-linear-gradient(#FF696D, #FF595E);
    background: -webkit-linear-gradient(#FF696D, #FF595E);
    background: linear-gradient(#FF696D, #FF595E);
}

.btn-cta:hover,
.btn-cta:visited,
.btn-cta:active,
.btn-cta:link {
    color: #fff;
}

.btn.fb-login * {
    display: block;
    height: 18px;
    color: #fff;
}

.fb-login {
    background: -moz-linear-gradient(#4C699E, #3F60A1);
    background: -webkit-linear-gradient(#4C699E, #3F60A1);
    background: linear-gradient(#4C699E, #3F60A1);
    border: 0;
    color: #fff;
    padding: 15px 25px;
    border-radius: 4px;
    cursor: pointer;
}

.fb-login:hover {
    background: -moz-linear-gradient(#5474b1, #4469b1);
    background: -webkit-linear-gradient(#5474b1, #4469b1);
    background: linear-gradient(#5474b1, #4469b1);
}

.fb-login .icon {
    margin-right: 10px;
    height: 18px;
    width: 18px;
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/facebook-small.png);
}

.container-link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.notification {
    min-width: 18px;
    padding: 2px;
    background-color: #e2000f;
    color: #fff;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    display: block;
    border: 2px solid #fff;
}

/* Popovers */
.popover.account-popover {
    width: 450px;
    max-width: initial;
    margin: 15px 0 0 -190px;
    background-color: #fafafa;
}

.popover.account-popover .arrow {
    left: 90% !important;
}

.popover.account-popover.login {
    width: 300px;
    padding: 20px;
    margin: 15px 0 0 -120px;
}

.popover.account-popover.login .arrow {
    left: 90% !important;
}

.popover.account-popover .popover-content {
    padding: 0;
}

.popover.account-popover .btn-logout {
    border: 1px solid #dbdbdc;
    border-radius: 2px;
    background: -moz-linear-gradient(#fff, #dcdcdd);
    background: -webkit-linear-gradient(#fff, #dcdcdd);
    background: linear-gradient(#fff, #dcdcdd);
}

.popover.account-popover .btn-logout .icon {
    margin: 3px 10px 0 0;
}

.popover.account-popover .owned-companies {
    width: 100%;
}

.popover.account-popover .owned-companies .company:first-child {
    border-top: 1px solid #dbdbdc;
}

.popover.account-popover .owned-companies .company:last-child {
    margin-bottom: 15px;
}

.popover.account-popover .owned-companies .company {
    border-bottom: 1px solid #dbdbdc;
    height: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popover.account-popover .owned-companies .company .inner {
    padding: 0 20px 0 20px;
}

.popover.account-popover .company .left img {
    width: 50px;
    height: 50px;
}

.popover.account-popover .company .company-name,
.popover.account-popover .company .company-profile-link {
    display: block;
}

.popover.account-popover .company .company-name {
    font-size: 13px; /* todo: is this necessary, or is it the default size? */
}

.popover.account-popover .company .company-profile-link {
    font-size: 11px;
}

/* Stars */
.stars.outlined, .stars span {
    display: block;
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/star-sprite.png) 0 -18px repeat-x;
    height: 18px;
    max-width: 90px;
}

.stars span {
    background-position: 0 0;
}

.choose-stars div:not(:last-of-type) {
    margin-right: 5px;
}

.star, .star.outlined {
    display: block;
    height: 18px;
    width: 18px;
}

.star {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/star-sprite.png) 0 0 no-repeat;
}

.star.outlined {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/star-sprite.png) 0 -18px no-repeat;
}

.choose-stars .star {
    float: left;
}


/* Spacers */
.spacer-5 { height: 5px; }
.spacer-10 { height: 10px; }
.spacer-15 { height: 15px; }
.spacer-20 { height: 20px; }
.spacer-25 { height: 25px; }
.spacer-30 { height: 30px; }
.spacer-35 { height: 35px; }
.spacer-40 { height: 40px; }
.spacer-45 { height: 45px; }
.spacer-50 { height: 50px; }

/* Icons */
/* todo: turn this into a sprite */
.icon { background-repeat: no-repeat !important; }
.icon.envelope { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/envelope.png); width: 27px; height: 20px; }
.icon.bell { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/bell.png); width: 24px; height: 23px; }
.icon.maps-drop { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/maps-drop.png); width: 12px; height: 19px; }
.icon.speech-balloon { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/speech-balloon.png); width: 17px; height: 15px; }
.icon.facebook { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/facebook.png); width: 18px; height: 18px; }
.icon.correct { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/correct.png); width: 13px; height: 13px; }
.icon.check { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/check.png); width: 16px; height: 12px; }
.icon.magnify { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/magnify.png); width: 16px; height: 16px; }
.icon.logout { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/logout.png); width: 13px; height: 14px; }
.icon.star { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/star.png); width: 14px; height: 14px; }
.icon.fb-share { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/facebook-share.png); width: 65px; height: 24px; }
.icon.flag { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/flag.png); width: 13px; height: 15px; }
.icon.forward { background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/forward.png); width: 15px; height: 12px; }

/* Pagination */
.pagination-container {
    background-color: #fff;
    padding: 15px 25px 15px 25px;
    border: 1px solid #ededed;
}

.pagination-container .left { padding-left: 0; }
.pagination-container .right { padding-right: 0; }

.pagination-container .left .first-page,
.pagination-container .right .last-page {
    font-size: 15px;
    color: #3a99d9;
}

.pagination-container .left .inactive,
.pagination-container .right .inactive {
    color: #a6a6a6;
    cursor: default;
}

.pagination-container .left .inactive:hover,
.pagination-container .right .inactive:hover {
    text-decoration: none;
}

.pagination-container .left span,
.pagination-container .right span {
    color: #6a6a6a;
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    display: inline-block;
}

.pagination-container .right span {
    text-align: right;
}

.pagination-container .right .last-page-wrapper {
    float: right;
}

.pagination-container .middle {
    text-align: center;
}

.pagination-container .middle ul {
    list-style: none;
    font-size: 15px;
}

.pagination-container .middle ul li {
    margin-right: 10px;
    position: relative;
}

.pagination-container .middle li,
.pagination-container .middle li:hover {
    padding: 6px 10px 6px 10px;
}

.pagination-container .middle li,
.pagination-container .middle a {
    display: inline;
    border-radius: 50%;
}

.pagination-container .middle a:hover {
    text-decoration: none;
}

.pagination-container .middle li.active,
.pagination-container .middle li:hover {
    background-color: #3a99d9;
}

.pagination-container .middle li.active a,
.pagination-container .middle li:hover a {
    color: #fff;
}

.pagination-container .middle li.active a {
    cursor: default;
}


/* Modals */
.modal-content {
    box-shadow: 0 1px 7px 1px rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 4px;
}

.modal label {
    color: #505050;
    padding-right: 5px;
}

.modal .modal-title {
    text-align: center;
}

.modal .modal-header {
    border-radius: 4px 4px 0 0;
    background-color: #FBFBFB;
    border: 0;
}

.modal .modal-header.empty {
    padding: 10px;
}

.modal .not-valid {
    border-color: #D64D50;
}

.modal-body {
    background-color: #FBFBFB;
    width: 100%;
    padding: 15px;
}

.modal-backdrop.in {
    opacity: 0.3;
}

.modal-body .modal-inner-content {
    padding: 20px 25px 40px;
    border-bottom: 0;
    display: table;
    height: 100%;
}

.modal-body .modal-inner-content.centered {
    text-align: center;
}

.modal-body .modal-inner-wrap {
    display: table-cell;
    vertical-align: middle;
}

.modal-body .modal-subtitle {
    margin-top: 0;
    margin-bottom: 15px;
}

.modal-body .modal-description {
    width: 80%;
    margin: 0 auto;
}

.modal-body .tab-pane form {
    margin-top: 20px;
}

.modal-body .tab-pane textarea {
    resize: none;
}

.modal-content .modal-progress, .tiny-progress {
    margin: 0;
    bottom: 0;
    height: 3px;
    border: 0;
    box-shadow: none;
    background: none;
    float: left;
    width: 100%;
}

.progress-bar {
    background-color: #56BDE2;
}

.modal-content .modal-progress  {
    width: 60%;
    box-shadow: none;
}

.modal-footer.empty {
    border-top: none;
    background-color: #FBFBFB;
    border-radius: 0 0 4px 4px;
    padding: 10px;
}

.modal-footer .button-cancel {
    float: left;
}

.modal-footer .btn-primary {
    min-width: 120px;
}


/* Forms */
.twitter-typeahead .tt-input,
.twitter-typeahead .tt-hint {
    height: 24px;
    padding: 0 0 0 5px;
}

#give-me-quote-button {
    background: #f99c04;
}