/* Top */
#search-top {
    padding: 20px 0 20px 0;
    background-color: #fff;
}

#search-top h1 {
    font-size: 28px;
    text-align: center;
}

#search-top h1 span {
    font-size: inherit;
}

#search-top a {
    color: #3a99d9;
    font-size: 18px;
    text-align: center;
    display: block;
}

#search-results-cta img {
    width: 1170px;
    height: 200px;
    border-radius: 2px 2px 0 0;
    box-sizing: border-box;
    border: 2px solid #fff;
}

/* Cover photo */
#search-cover-photo {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/search-page-cover.png) no-repeat;
    background-size: cover;
    height: 355px;
    width: 100%;
}

/* Search results */
#search-results-container {
    position: relative;
    top: -100px;
}

.search-entry {
    border: 1px solid #ededed;
    height: 200px;
    background-color: #fff;
    margin-bottom: 25px;
}

.search-entry .left {
    padding: 25px;
    height: 100%;
}

.search-entry .middle {
    padding: 25px 25px 25px 0;
    height: 100%;
    position: relative;
}

.search-entry .middle h2 {
    font-size: 24px;
    margin-bottom: 3px;
}

.search-entry .middle .company-address {
    font-size: 15px;
    margin-bottom: 8px;
}

.search-entry .middle p {
    font-size: 13px;
    overflow: hidden;
    line-height: 20px;
    height: 40px;
}

.search-entry .middle .search-result-actions {
    position: absolute;
    bottom: 25px; /* Equals the padding-bottom of the container */
    left: 0;
}

.search-entry .middle .search-result-actions a {
    float: left;
}

.search-entry .middle .search-result-actions a:not(:first-of-type) {
    margin-left: 10px;
}

.search-entry .right {
    height: 100%;
    text-align: center;
}

.search-entry .right a {
    font-size: 16px;
}

.search-entry .right .like-company,
.search-entry .right .favorite-company {
    width: 40px;
    height: 35px;
    position: absolute;
    right: 0;
    border: 1px solid #efefef;
    display: block;
}

.search-entry .right .like-company:hover,
.search-entry .right .favorite-company:hover,
.search-entry .right .like-company.liked,
.search-entry .right .favorite-company.added {
    background-color: #3a99d9;
}

.search-entry .right .favorite-company {
    border-radius: 0 0 0 5px;
}

.search-entry .right .like-company {
    top: 0;
    background: #fafafa url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/thumbs-up.png) no-repeat center;
}

.search-entry .right .favorite-company {
    top: 35px;
    background: #fafafa url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/star-gray.png) no-repeat center;
}

.search-entry .right .rating {
    font-size: 55px;
    line-height: 55px;
}

.search-entry .right .rating-description {
    font-size: 24px;
    line-height: 24px;
    display: block;
}

.search-entry .right .stars {
    margin-top: 5px;
}

.search-entry .right .reviews-count {
    font-size: 16px;
    margin-top: 5px;
}

.search-entry .company-logo {
    display: block;
    height: 100%;
    width: 100%;
}

.search-entry .company-logo .entry-number {
    display: block;
    width: 25px;
    height: 25px;
    background-color: #3a99d9;
    color: #fff;
    padding-top: 4px;
    text-align: center;
}