.box-wrapper {
    background-color: #EFF5F6;
    border: 1px solid #D6E5E8;
    border-radius: 4px;
    padding: 0 25px 25px 25px;
}

.box-wrapper .box-icon {
    background-color: #283137;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    position: relative;
    top: -37px;
}

.box-wrapper .box-icon * {
    width: 100%;
    height: 100%;
}

.box-wrapper .box-icon .icon-image {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/attachment.png) 50% 50% no-repeat;
}

.box-wrapper .title {
    position: relative;
    top: -10px;
    font-size: 24px;
}

.box-wrapper .link-wrapper {
    height: 50px;
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #fff;
}

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: rebeccapurple;
    color: #fff;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #bbb;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
    outline: 1px solid #ddd; /* focus style */
}