.integrations {
    margin-left: 15px;
}

.integrations .row {
    margin-top: 20px;
}

.integration {
    height: 150px;
    width: calc(33.3% - 18px); /* Minus with the spacing between each integration (approximately) */
    float: left;
    border-radius: 4px;
    border: 1px solid #DAD9DA;
    padding: 10px;
}

.integration:not(:last-child) {
    margin-right: 20px;
}

.integration .logo {
    height: 70%;
}

.integration .controls {
    height: 30%;
    position: relative;
}

.integration .controls .switch {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25px;
    width: 60px;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase;
    padding: 3px;
    cursor: pointer;
    text-align: center;
}

.integration .controls .switch .ball {
    height: 100%;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
}

.integration .controls .switch.on {
    background-color: #48C89D;
}

.integration .controls .switch.on .ball {
    float: right;
    box-shadow: 1px 1px 10px #888;
}

.integration .controls .switch.off {
    background-color: #D6DCE0;
}

.integration .controls .switch.off .ball {
    float: left;
    box-shadow: -1px 1px 10px #888;
}

.integration.hairtools {
    background-color: #000;
}

.integration.hairtools .logo {
    background: url(/images/logos/hairtools.png) center no-repeat;
}

.integration.onlinebooq {
    background-color: #3D4245;
}

.integration.onlinebooq .logo {
    background: #3D4245 url(/images/logos/onlinebooq.png) center no-repeat;
}

.integration.e-conomic {
    background-color: #fff;
}

.integration.e-conomic .logo {
    background: #fff url(/images/logos/e-conomic.png) center no-repeat;
}

.integration.klikbook {
    background-color: #fff;
}

.integration.klikbook .logo {
    background: #fff url(/images/logos/klikbook.png) center no-repeat;
}

.integration.gecko {
    background-color: #fff;
}

.integration.gecko .logo {
    background: #fff url(/images/logos/gecko.png) center no-repeat;
}

.integration.nem-tilmeld {
    background-color: #C0BBA5;
}

.integration.nem-tilmeld .logo {
    background: #C0BBA5 url(/images/logos/nem-tilmeld.png) center no-repeat;
}

.integration.supersaas {
    background-color: #fff;
}

.integration.supersaas .logo {
    background: #fff url(/images/logos/supersass.png) center no-repeat;
}

.integration.dinnerbooking {
    background-color: #fff;
}

.integration.dinnerbooking .logo {
    background: #fff url(/images/logos/dinnerbooking.png) center no-repeat;
}

.integration.cbit {
    background-color: #000;
}

.integration.cbit .logo {
    background: #000 url(/images/logos/cbit.png) center no-repeat;
}

.integration.admind {
    background-color: #143C68;
}

.integration.admind .logo {
    background: #143C68 url(/images/logos/admind.png) center no-repeat;
}