.advantage-row {
    float: left;
}

.advantage {
    float: left;
    display: block;
    width: 195px;
    min-height: 200px;
    margin-bottom: 10px;
}

.advantage a {
    display: inline;
}

.advantage:not(:first-of-type) {
    margin-left: 10px;
}

.advantage img {
    width: 195px;
    height: 125px;
    border-radius: 4px;
    margin-bottom: 5px;
}

.advantage .sub-title {
    font-size: 14px;
}

.advantage .description {
    font-family: 'Roboto-Light';
    font-size: 13px;
    color: #000000;
}