.review {
    padding: 25px 0 25px 0;
}

.review:not(:last-child) {
    border-bottom: 1px solid #d4d7d8;
}

.review .review-rating {
    float: left;
}

.review .reviewer-profile-image {
    float: right;
}

.review .reviewer-profile-image img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.review .title {
    color: #2c3e4f;
}

.review .excerpt {
    height: 22px;
    overflow: hidden;
}

.review .right {
    text-align: right;
}

.review .review-actions {
    margin-top: 10px;
}

.review .review-actions .view-and-reply,
.review .review-actions .request-deletion {
    float: left;
    border-radius: 2px;
}

.review .review-actions .view-and-reply {
    width: 130px;
    margin-right: 10px;
}

.review .review-actions .request-deletion {
    width: 180px;
}

.review .cancel-comment,
.review .cancel-deletion-request {
    margin-right: 10px;
}

.review .review-info {
    display: none;
}

.review .facebook-share .fb-share {
    display: block;
    float: right;
}

.review .write-comment .company-logo img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.comments .comment {
    padding: 20px;
    border: 1px solid #90D2F0;
}

.comments .comment-time {
    float: right;
    font-size: 13px;
    margin-top: 5px;
}

.comments .comment p {
    margin: 0;
}