body {
    background-color: #F7F7F7 !important;
}

#topbar-search-form { display: none; }

#about-user,
#partners {
    background-color: #fff;
}

/* Top section */
#cover-photo {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/front-page-cover.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
    padding: 0;
}

#cover-photo .top {
    height: 75%;
    text-align: center;
}

#cover-photo .top .small {
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-weight: 300;
    font-style: italic;
    color: #fff;
    font-size: 18px;
    line-height: 18px;
}

#cover-photo .top .search-teaser {
    font-size: 22px;
    color: #fff;
    display: block;
    margin-bottom: 15px;
}

#cover-photo .top .search-teaser span {
    background-color: #3a99d9;
    padding: 8px 5px 8px 5px;
    color: #fff;
    border-radius: 3px;
    font-size: 16px;
    line-height: 16px;
}

#cover-photo #cover-photo-headline {
    font-size: 65px;
    line-height: 65px;
    font-style: italic;
    color: #fff;
    display: block;
}

#cover-photo form .form-wrapper {
    border: 0;
    border-radius: 3px;
    box-shadow: none;
    float: left;
    display: block;
    height: 50px;
    padding: 0 0 0 20px;
    width: auto;
}

#cover-photo form .form-wrapper input {
    border: 0;
}

#cover-photo form .form-wrapper label {
    padding-right: 10px;
    color: #505050;
    font-weight: normal;
    float: left;
    line-height: 50px;
}

#cover-photo form .form-wrapper.search-terms-wrapper {
    border-radius: 4px 0 0 4px;
}

#cover-photo form .form-wrapper.search-location-wrapper {
    border-radius: 0 4px 4px 0;
    border-left: 1px solid #e8e8e8;
}

#cover-photo form .form-wrapper.search-terms-wrapper input,
#cover-photo form .form-wrapper.search-location-wrapper input {
    height: 50px;
    font-size: 13px;
    line-height: 1;
    float: left;
}

#cover-photo form .form-wrapper.search-terms-wrapper input {
    width: 250px;
}

#cover-photo form .form-wrapper.search-location-wrapper input {
    width: 200px;
}

#cover-photo form .form-wrapper .form-field {
    border: 0;
    width: 170px;
}

#cover-photo .search-button {
    float: left;
    border-radius: 4px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

#cover-photo .search-button .icon {
    display: block;
}

/* Latest reviews */
#latest-reviews {
    height: 25%;
    width: 100%;
    padding-bottom: 5px;
    overflow: hidden;
}

#latest-reviews .review {
    min-width: 20%;
    height: 100%;
    padding: 5px;
    color: #334354;
    line-height: 1;
    position: relative;
}

#latest-reviews .review .reviewer-company {
    display: block;
    margin-bottom: 3px;
}

#latest-reviews .review a {
    color: #3a99d9;
}

#latest-reviews .review .review-time {
    font-size: 13px;
}

#latest-reviews .review .review-time .clock {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/clock-small.png) no-repeat;
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 6px;
}

#latest-reviews .review .stars {
    margin: 2px 0 8px 0;
}

#latest-reviews .review .title {
    font-size: 13px;
    display: block;
    margin-bottom: 8px;
}

#latest-reviews .review p {
    font-size: 12px;
    margin: 0;
    height: 24px;
    overflow: hidden;
}

#latest-reviews .review .inner {
    height: 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px;
}

#latest-reviews .review:nth-child(1),
#latest-reviews .review:nth-child(5) {
    opacity: 0.45;
}

#latest-reviews .review:nth-child(2),
#latest-reviews .review:nth-child(4) {
    opacity: 0.7;
}

/* Most popular categories */
#most-popular-categories {
    padding: 50px;
}

#most-popular-categories ul {
    float: left;
}

#most-popular-categories ul:not(:first-child) {
    margin-left: 100px;
}

#most-popular-categories ul {
    list-style: none;
}

#most-popular-categories ul li:before {
    content: '\00BB\00a0'
}

#most-popular-categories ul li {
    font-size: 18px;
}

#most-popular-categories h2 {
    font-family: 'Roboto-Light';
    font-size: 42px;
    text-align: center;
    margin-bottom: 40px;
}

/* About - shared */
#about-user h2,
#about-company h2 {
    font-family: 'Roboto-Medium';
    text-align: center;
    font-size: 48px;
    margin: 0 0 50px 0;
}

#about-user ul li,
#about-company ul li {
    margin-left: 25px;
    padding-left: 10px;
    font-size: 16px;
    list-style-image: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/icons/check.png);
}

#about-user,
#about-company {
    padding-top: 50px;
}

#about-user h3,
#about-company h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#about-user ul li:not(:last-of-type),
#about-company ul li:not(:last-of-type) {
    padding-bottom: 5px;
}

#about-user a,
#about-company a {
    margin-top: 20px;
}

/* About - for users */
#about-user .bg {
    height: 458px;
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/user-office-illustration.png) no-repeat;
}

/* About - for companies */
#about-company .bg {
    height: 420px;
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/company-crane-illustration.png) no-repeat;
}

/* Partners */
#partners {
    height: 150px;
}

#partners div:not(:first-child) {
    margin-left: 75px;
}

#partners .hungry-logo {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/logos/hungry-gray.png) no-repeat;
    width: 161px;
    height: 67px;
}

#partners .tre-byggetilbud-logo {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/logos/3byggetilbud-gray.png) no-repeat;
    width: 123px;
    height: 67px;
}

#partners .google-logo {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/logos/google-gray.png) no-repeat;
    width: 183px;
    height: 67px;
}

#partners .bing-logo {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/logos/bing-gray.png) no-repeat;
    width: 136px;
    height: 52px;
}

#partners .yahoo-logo {
    background: url(https://s3.eu-central-1.amazonaws.com/betterdk-public/static/images/logos/yahoo-gray.png) no-repeat;
    width: 127px;
    height: 29px;
}